pkgbase = ttysvg-bin
	pkgdesc = Record terminal sessions as animated SVG
	pkgver = 0.0.7
	pkgrel = 1
	url = https://github.com/shellcell/ttysvg
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = ttysvg
	conflicts = ttysvg
	source_x86_64 = https://github.com/shellcell/ttysvg/releases/download/v0.0.7/ttysvg_v0.0.7_linux_x86_64.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://github.com/shellcell/ttysvg/releases/download/v0.0.7/ttysvg_v0.0.7_linux_arm64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = ttysvg-bin
